---
import type { CollectionEntry } from "astro:content";
import Card from "./Card.astro";
import H1 from "./H1.astro";

// Pattern: first, define "Props", then destructure below via "Astro.props"
type Props = {
    //posts is an array of the collection entry/type 'posts' from 'astro/src/content/config.ts'
    posts: CollectionEntry<'posts'>[]
}

const { posts } = Astro.props;

// Sort by date descending and take the latest 6
const latestPosts = posts
  .slice()
  .sort((a, b) => {
    const [dayA, monthA, yearA] = a.data.date.split("/");
    const [dayB, monthB, yearB] = b.data.date.split("/");
    return new Date(`${yearB}-${monthB}-${dayB}`).getTime() - new Date(`${yearA}-${monthA}-${dayA}`).getTime();
  })
  .slice(0, 6);
---


<section class="cards-gallery-layout">
  <H1 text="Latest blog posts" />
  <div class="card-grid">
    {latestPosts.map((post) => <Card post={post} />)}
  </div>
</section>

<style>
  .cards-gallery-layout {
    display: flex;
    flex-direction: column;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    gap: 40px;
    padding-top: 20px;
  }
</style>
