---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

// Pattern: first, define "Props", then destructure below via "Astro.props"
type Props = {
  //posts the collection entry/type 'posts' from 'astro/src/content/config.ts'
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
// TODO: merge this and Project components to 1 generic Card component 
---

<article class="card-container">
  <div class="card-shadow bg-teal-900"></div>
  <div class="card bg-gray-100">
    <a href={`/blog/${post.slug}`}>
      <Image
        src={post.data.image}
        width={600}
        height={600 / 1.5}
        alt={post.data.title}
        class="shadow-xl mb-4 aspect-thumbnail object-cover"
      />
    </a>
    <a href={`/blog/${post.slug}`} class="text-4xl text-zinc-900 font-semibold inline-block">
      <h2>{post.data.title}</h2>
    </a>
    <p class="text-zinc-500 text-2xl line-clamp-2">
      {post.data.description}
    </p>
  </div>
</article>

<style>
  .card-container {
    position: relative;
  }

  .card {
    width: inherit;
    height: 100%;
    padding: 20px;
    transition: transform 0.3s ease;
  }

  .card-shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  .card:hover {
    transform: translate(10px, -10px);
  }
</style>
