---
// Props: posts (array of collection entries)
import PostCard from "./PostCard.astro";
const { posts } = Astro.props;
---

<div class="posts-container">
  {posts.map((post) => (
    <PostCard
      title={post.data.title}
      date={post.data.date}
      description={post.data.description}
      image={post.data.image}
      imageAlt={post.data.title}
      href={`/blog/${post.slug}`}
    />
  ))}
</div>

<style>
  .posts-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
</style>
