---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import H2 from "./H2.astro";

// Pattern: first, define "Props", then destructure below via "Astro.props"
type Props = {
  //posts the collection entry/type 'posts' from 'astro/src/content/config.ts'
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
// TODO: merge Post and Project components to 1 generic Card component
---

<article class="card-container">
  <div class="card-shadow bg-teal-900"></div>
  <a href={`/blog/${post.slug}`}>
  <div class="card bg-gray-100">
    <div class="image-container">
      <Image
      src={post.data.image}
      width={600}
      height={600 / 1.5}
      alt={post.data.title}
      class="mb-4 aspect-thumbnail object-cover w-full h-full"
    />
    </div>

    <H2 text={post.data.title}></H2>
    <p class="text-zinc-500 text-1xl line-clamp-3">
      {post.data.description}
    </p>
  </div>
</article>

<style>
  .card-container {
    position: relative;
    height: 30rem;
    width: 28rem;
  }

  .card {
    width: 100%;
    height: 100%;
    padding: 20px;
    transition: transform 0.3s ease;
  }

  .card-shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  .card:hover {
    transform: translate(10px, -10px);
  }

  .image-container {
    height: 12rem;

  }

</style>
